<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>profile</title>
		<link rel= "stylesheet" href="{{asset("profile.css")}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    </head>
    <body>
	   <nav>
            <div class="nav-left">
               <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> Wakelni ! </a>
                  <ul>
                     <li><a href='{{path("app_logout")}}'><i class="fas fa-power-off"></i>Log out</a></li>
                     <li><a href='{{path("app_index")}}'><i class="fa fa-home"></i>Home</a></li>
                  </ul>
            </div>   
			<div class="nav-right">
			    <div class="name">
				   {{app.user.name}}
				</div>
			    <div class="nav-user-icon">
                    <img src="{{asset("image/profilepicpic.jpg")}}">
                </div>
			</div>                                              I
       </nav>
	   <div class="container">
            <div class="photo"></div>
            <div class="banner"></div>
            <ul>
                <li><b>{{app.user.name}}</b></li>
                <li>{{app.user.email}}</li>

            </ul>
            <button class="contact" id="main-button">post</button>
            <br>
             <button><a href="{{path('app_edit')}}">edit your profile</a></button>
            <div class="social-media-banner">
			    <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
          <form class="email-form">
                <textarea id="desc" type="text" placeholder="Description"></textarea>
                <label for="pic">Choose a picture:</label>
                <input type="file" id="pic" name="pic" accept="image/png, image/jpeg">
                <button class="post">Post</button>
          </form>
	   </div>
			
	
	</body>  
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="{{asset("profile.js")}}"></script>