<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>profile</title>
		<link rel= "stylesheet" href="{{asset("profile.css")}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>


		<div class="profile">
			<div class="profile-banner">
			</div>
			<div class="profile-picture">
			  <a href="" class="add-frnd">Edit profile <span class="entypo-user"></span></a>
			  <a href="" class="follow">Post <span class="entypo-plus"></span></a>
			  <a href=""><img src="{{asset("image/profilepic.jpg")}}"></a>
			  	<!-- 
	aaaaaaaaaaaaa test 
	
	hedha fyh button log out w button acceuil
	-->
			  	<button><a href='{{path("app_logout")}}'> logout </a></button>
			  	<button><a href='{{path("app_index")}}'> acceuil </a></button>

			  <span>{{app.user.name}} <!-- hedha nom l user -->
			  {{ app.user.userIdentifier }} <!-- hedha mail l user -->
			  </span>
		
			</div>
			
			<div class="profile-content">
			
			  <div class="content-left">
			  
				<ul>
				  
				  <li><a><span class="entypo-compass"></span> USA, California</a></li>
				  <li><a><span class="entypo-graduation-cap "></span> California College of the Arts </a></li>
				  <li><a><span class="entypo-suitcase"></span> Graphic Designer at Wicrosoft</a></li>
				  <li><a><span class="entypo-lock-open"></span> Public</a></li>
		  
				</ul>
				
			  </div>
			  
			  <div class="content-middle">
			  
				<div class="content-md-left">
				  
				  <img src="{{asset("image/profilepic.jpg")}}">
				  
				</div>
				
				<div class="content-md-middle">
				  
				  <div class="post-title-name">
					{{app.user.name}}
			        {{app.user.email}}

				  </div>
				  
				  <div class="post-title-time">
					<a href="">Saturday 13:52</a>
				  </div>
				  
				   <div class="post-desc">
				    <p>  test test 105</p>
					 <br>
					 <img src='{{asset("image/pizzacover.jpg")}}'>
					 
				  </div>
				  
				  <div class="post-info">
				  
					<ul>
					
					  <li><a href="" class="like"><span class="entypo-thumbs-up"></span> Like</a></li>
					  <li><a href="" class="comment"><span class="entypo-comment"></span> Comment</a></li>
					  <li><a href="" class="share"><span class="entypo-share"></span> Share</a></li>
					  
					</ul>
					  
				  </div>
				
				</div>
				
			  </div>
			  
			  <div class="content-right">
				
				<ul>
				  
				  <li><a href=""><span class="entypo-chat"></span></a></li>
				  <li><a href=""><span class="entypo-camera"></span></a></li>
				  <li><a href=""><span class="entypo-export"></span></a></li>
		  
				  
				</ul>
				
				
			  </div>
			  
			  
			</div>
			
			  
		  </div>
	   
	   
	</body>  