
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />
    <link rel="stylesheet" href="{{asset("acc_style.css")}}" type="text/css" />
    <title>Sliding Sign In & Sign Up Form</title>
  </head>
  <body>
    <div class="container right-panel-active" id="container" >
      <div class="form-container sign-up-container">
       <form method="post">
      {{ form_start(registrationForm) }}
          <h1>Sign Up</h1>
          
             {{ form_row(registrationForm.Name) }}
         <!-- <input type="email" placeholder="Email" name="email" required/><!--hedhy tbadalha div w bdl css-->
         
          {{ form_row(registrationForm.email) }}
          <!--<input type="password" placeholder="Password" name="pass" required/>-->
          {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
          
          <button >Sign Up</button>
           {{ form_end(registrationForm) }}
        </form>
      </div>


      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>Please login with your personal info</p>
            <button class="ghost" ><a href= '{{path("app_login")}}' >Sign In</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
